# outros
anotacoes.txt
proj_organization.png

# executaveis / compilados
prompt_rogue
prompt_rogue.exe

# PT
PT/Makefile
PT/assets/
PT/build/

# EN
EN/Makefile
EN/assets/
EN/build/

# versions
versions/
