# Versions | Notes
.project/
.versions/

# pt-BR version
RDPQuest/PT/Makefile
RDPQuest/PT/assets/
RDPQuest/PT/build/

# en-US version
RDPQuest/EN/Makefile
RDPQuest/EN/assets/
RDPQuest/EN/build/
RDPQuest/EN/saves/

# .exe | comp.
game_PT
game_PT.exe

